<% content_for :title, t(:show_group) -%>

<h1><%= content_for :title %></h1>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Creator:</b>
  <%= User.find_by_id(@group.user_id).name %>
</p>

<p>
  <b>Description:</b>
  #
</p>

<%= link_to 'Back', groups_path %>
